/*
Для заголовков
font-family: 'Arimo',
sans-serif;

Для менюшек
font-family: 'IBM Plex Sans',
sans-serif;

Для текста
font-family: 'Source Sans Pro',
sans-serif;

*/

/* Обнуление отступов */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1192px;
  margin: 0 auto;
}

/* SLider */


.back-slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
}

.slider-item{
  width: 100%;
  height: 100%;
}

.slider-img-link{
  width: 100%;
  height: 770px;
}




.krg__video{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.videokrg{
  width: 800px;
  max-width: 100%;
  border-radius: 5%;
}
/* Header */
/* ============================================================================================== */

.header__top {
  background: rgba(216, 222, 232, 0.2);
}

.header__top__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  border-bottom: solid 2px #000;
}

.header__icons {
  display: flex;
}

.header__icons__item {
  margin-right: 20px;
}

.header__icons__item:last-child {
  margin-right: 0;
}

.icons__item__link {
  transition: all 0.3s ease;
  color: #FFF;
  font-size: 30px;
}

.icons__item__link:hover {
 color: orange;
}


.burger__menu {
  display: none;
}

.header__menu {
  /* margin-left: 100px; */
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
}

.menu {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__list li {
  margin-right: 30px;
  list-style: none;
}

.header__list li:last-child {
  margin-right: 0;
}

.header__link {
  color: #FFF;
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.header__link:hover {
  color: orange;
}

.logo {

  display: flex;
  align-items: center;
}

.logo__img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: url("../img/loggo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo__title {
   color: #FFF;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 100px;
  font-style: italic;
}

/* intro */
/* ======================================================================================*/

.intro {
  /* background: url("../img/fon.jpg"); */
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  padding-top: 180px;
  padding-bottom: 220px;
}

.intro__img {
  background: url("../img/loggo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.intro__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.intro__title {
  font-size: 28px;
  font-weight: 700;
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  padding: 10px 0;
  color: gold;
}

.intro__text {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

/* Направления */
/* ================================================================================ */

.catlog__intro {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.catlog__title {
  font-family: "Arimo", sans-serif;
  color: #ff2626;
  font-weight: 700;
  font-size: 16px;
  padding-top: 30px;
}

.catlog__text {
  margin-top: 10px;
  color: #000;
  font-size: 32px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.catlog__btn {
 
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 19px;
  font-weight: 700;
  margin-top: 25px;
  color: #fff;
  background: #ff2626;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.catlog__btn:hover {
  color: #000;
}

.catlog__itemss {
  display: flex;
  flex-wrap: wrap;
}

.catlog__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33333%;
  padding: 30px 0;
}

.catlog__item__img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 3px solid red;
}

.catlog__item__title {
  padding-top: 10px;
  font-family: "Arimo", sans-serif;
  font-size: 24px;
  text-align: center;
}

.catlog__item__text {
  padding-top: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-align: center;
}

.tours__title {
  text-align: center;
  font-family: "Arimo", sans-serif;
  color: #ff2626;
  font-weight: 700;
  font-size: 16px;
  padding-top: 30px;
}

.tours__text {
  color: #000;
  font-size: 32px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 30px;
}

.tours__list {
  display: flex;
  flex-wrap: wrap;
}

.tours__item {
  width: 33.33333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.tours__img-1,
.tours__img-2,
.tours__img-3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  width: 330px;
  height: 400px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.tours__img {
  margin-top: 20px;
  width: 380px;
  height: 300px;
  border-radius: 30px;
}


.tours__content__text {
  position: absolute;
  font-family: "Arimo", sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  border: 1.5px solid #000;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.tours__content__text:hover {
  background: #000;
  color: #fff;
  border-color: #fff;
}

/* Footer */
/* ================================================================ */

.footer {
  background:#E8E8E8;
}

.footer__block {
  display: flex;
  padding: 30px 0;
}

.footer__menu {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.contacts__title {
   font-weight: 600;
  color: #000000;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.footer__link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

.footer__link:hover {
  color: red;
}

.contacts__form {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%;
  border-radius: 5px;
  outline: none;
  margin: 5px 0;
  font-size: 20px;
  color: #000;
  padding: 3px 3px;
  font-family: "IBM Plex Sans", sans-serif;
}

.textarea {
  width: 100%;
  outline: none;
  font-size: 20px;
  color: #000;
  padding: 3px 3px;
  resize: vertical;
  border-radius: 5px;
  height: 150px;
  margin-top: 5px;
  font-family: "IBM Plex Sans", sans-serif;
}

.sub-btn {
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
  padding: 5px 5px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-family: "IBM Plex Sans", sans-serif;
  color: gold;
  background: #ff2626;
  text-transform: uppercase;
}

.contacts {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__phone__link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 13px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

.size{
  font-size: 20px;
}

.contacts__phone__link:hover {
  color: blue;
}

.social__itemss {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 20px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  transition: all 0.5s ease;
}

.social__item:hover {
  color: #f70f0f;
  transform: translateY(-1.5px);
}

.copyright {
  padding-bottom: 20px;
  border-top: 2px solid rgb(0, 0, 0);
}

.copy__title {
  padding-top: 20px;
  color: rgb(0, 0, 0);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  text-align: center;
}

/* ======================================================================================== */
/* Медиа запросы */

@media (max-width: 992px) {
  .burger__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .line-1,
  .line-2,
  .line-3 {
    width: 40px;
    height: 6px;
    background: #FFF;
    position: relative;
    transition: all 0.4s ease;
  }

  .line-2 {
    margin: 5px 0;
  }

  .line-2.active {
    display: none;
  }

  .line-1.active {
    transform: rotateZ(45deg);
    top: 3px;
  }

  .line-3.active {
    transform: rotateZ(-45deg);
    bottom: 3px;
  }

  .menu {
    position: absolute;
    left: -200%;
    top: 146px;
    transition: all 0.5s ease;
  }

  .menu.active {
    left: 0;
  }

  .header__list {
    display: block;
    padding: 5px 20px;
    background: rgba(0, 0, 0, 0.9);
  }

  .header__list li {
    margin: 25px 0;
  }

  .header__link {
    color: #fff;
    font-size: 30px;
  }

  .catlog__item {
    width: 50%;
  }

  .tours__item {
    width: 100%;
  }

  .tours__img {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .footer__block {
    flex-direction: column;
    padding-top: 5px;
  }

  .footer__menu,
  .contacts__form,
  .contacts {
    width: 100%;
  }

  .contacts__title {
    padding-top: 20px;
  }

  .input,
  .textarea,
  .sub-btn {
    width: 400px;
    font-size: 15px;
  }

  .wrapper__list {
    align-items: center;
  }
}

@media (max-width: 576px) {

  .slider-img-link {
    height: 480px;
  }

  .header__top__list {
    display: none;
  }

  .menu {
    top: 80px;
  }

  .intro {
    padding-top: 80px;
    padding-bottom: 90px;
    height: 400px;
  }

  .intro__title {
    font-size: 18px;
  }

  .catlog__item {
    padding: 20px 0;
    width: 100%;
  }

  .catlog__title {
    font-size: 12px;
    padding: 20px 10px 0 10px;
  }

  .catlog__text {
    font-size: 22px;
    padding: 0 10px;
  }

  .tours__title {
    font-size: 12px;
    padding: 20px 10px 0 10px;
  }

  .tours__text {
    font-size: 22px;
  }

  .input,
  .textarea,
  .sub-btn {
    width: 250px;
    font-size: 12px;
  }
}

@media (max-width: 320px) {

  .tours__img {
    width: 260px;
    height: 180px;
  }

  .tours__content__text {
    font-size: 15px;
  }

  .contacts__form {
    display: none;
  }
}

/* Extra small width ========================================= */

@media (max-width: 240px) {

  .logo__title {
    font-size: 20px;
  }

  .logo__img {
    width: 20px;
    height: 20px;
  }

  .header__menu {
    padding: 5px 10px;
  }

  .header__link {
    font-size: 14px;
  }

  .menu {
    top: 60px
  }

  .header__list {
    padding: 5px 10px;
  }

  .header__list li {
    margin: 15px 0
  }

  .intro__title {
    font-size: 12px;
  }


  .tours__img {
    width: 200px;
    height: 120px;
  }
}